@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header {
    min-height: 600px;
    background-image: url('https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
    
}

header .bg-gradient{
    
    min-height: 300px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.65) 0%, rgba(0, 0, 0, 0) 100%);
}

header .header-border{
    display: flex;
    border-bottom: rgba(255,255,255,.25) 1px solid;
}

header #logo{
    width: 200px;
    line-height: 80px;
    color: white;
    font-weight:  bold;
    text-align: center;
    font-size: 2em;
    text-shadow: black 4px 4px 20px;

}

 .menu{
    flex: 1;
}

 .menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

 .menu li {
    min-width: 100px;
    line-height: 80px;
}

 .menu a {
    
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    ;
}

 #register{
    background-color:#fff;
    width: 100%;
    height: 450px;
    max-width: 300px;
    position: absolute;
    bottom: 0;
    right: 10vw;
    box-shadow: 0 0 2.1875rem rgba(140,152, 164, .0125);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 40px;
    color: #333;
}

 #register p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 35px;
}

 #register .field {
    width:100% ;
    margin-bottom:20px ;
}

 #register input {
    width: 100%;
    padding: .75rem 1rem;
    border-radius: 4px;
    border: #ccc 1px solid;
    color: black;

}

 #register input[type=radio]{
    width: 25px;
}

#register button {
    width: 100%;
    border: none;
    background-color:#065a12 ;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.title h1 {
    font-size: 3em;
    border-bottom: #ccc 1px solid;
    padding-bottom: 1rem;
}
.home p {
    text-align: justify;
}

footer {
    background-color: #f5f5f5;
    color:#6c757d;
    font-size: .8em;
}

footer p {
    line-height: 35px;
}

footer .container{
    display: flex;
}

footer .menu a {
    color: #065a12;
}
.menu .open-menu {
    display: none;
}

